Django==2.0
mistune==0.8.3
olefile==0.44
Pillow==4.3.0
pytz==2017.3
amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
kombu==4.1.0
vine==1.1.4
django-compressor==2.2
rjsmin==1.0.12
rcssmin==1.0.6
django-redis==4.9.0
redis==2.10.6
