.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading {
  text-align: center
}
.navbar {
  font-size: large;
  background-color: #00509e;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #f58025;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #f58025;
}

.btn-link.yactff {
  color: #ffffff;
}


@media (min-width: 768px) {
  .modal-lg {
    width: 90%;
   max-width:1200px;
  }
}

[class*="challenge"] {
  padding: 25px;
  width: 15%;
  text-align: center;
  font-size: 24px;
  background-color: #00509e;
  color: white;
	margin-right: 5px;
  box-sizing: border-box;
}


.challenge:hover {
color: #f58025;
}

.challenge-solved {
  background-color: #f58025;
}

.challenge-solved:hover {
color: #00509e;
}
