{% extends "web/base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nickname</th>
      <th scope="col">Email</th>
      <th scope="col">Team</th>
      <th scope="col">IP</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.nickname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.team }}</td>
      <td>{{ user.last_ip }}</td>
      <td><a class="btn btn-primary btn-sm" href="{% url "user_show" user.id%}" role="button">Show</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
