{% extends "web/page.html" %}

{% block admin_content %}
<p class="text-right"><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Edit</a>  <a href="#">Add page</a></p>
<!-- Modal -->
{% include "web/admin_modal_edit.html" %}
{% comment %}
<script>
var textarea = document.querySelector("textarea");
textarea.addEventListener('keydown', autosize);
             
function autosize(){
  var el = this;
  setTimeout(function(){
    el.style.cssText = 'height:auto; padding:0';
    // for box-sizing other than "content-box" use:
    // el.style.cssText = '-moz-box-sizing:content-box';
    el.style.cssText = 'height:' + el.scrollHeight + 'px';
  },0);
}
</script>
{% endcomment %}
{% endblock %}
