{% extends "web/page.html" %}

{% block admin_content %}
<p class="text-right"><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Edit</a>  <a href="{% url "page_add" %}">Add page</a>
{% if page.name != "index" %}
<a href="{% url "page_remove" page.id %}" class="confirm-change">Remove page</a>
{% endif %}
<a href="#exampleModal2" data-toggle="modal" data-target="#exampleModal2">Show all pages</a></p>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">All Challenges</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for p in pages %}
        <ul class="list-group">
          <li class="list-group-item list-group-item-{{p.in_menu|yesno:"success,danger"}}"><a href={% url "page" p.name %}>{{p.name}}</a></li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include "web/admin_modal_edit.html" %}
{% endblock %}
