<!DOCTYPE html>
<html lang=en>
<head>
  <title>{% block title%}yactff - Yet Another CTF Framework{% endblock %}</title>
  <!-- Option to load from cdn, and local -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href={% static "web/css/yactff.css" %}> 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/" class="navbar-brand">{{ ctf_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        {% for page, link in pages %}
            {% if request.path|cut:"/" == link|cut:"/" %}
            <li class="active nav-item"><a class="nav-link" href={{ link }}>{{ page }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href={{ link }}>{{ page }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    <ul class="nav navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.get_nickname_and_team}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/user/profile">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/logout">Logout</a>
          </div>
          {# Generete one query to mutch, will be mitigated if User/Player class by encdeing custom class #}
      </li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      {% endif %}
    </ul>
   </div>
  </nav>

{% if False %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  Activate account
</div> 
{% endif %}
  <div class="container mt-5">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
