{% extends "web/base.html" %}

{% block content %}
{% for category in categories %}
      <h2>{{category.name}}</h2>
<div class="row mb-3">
      {% for challenge in challenges %}
        {% with have_challenge=True %}
        {% if challenge.active and category.id == challenge.category_id %}
        <a role="button" class="btn col {{challenge.is_solved|yesno:"btn-success,btn-light"}}" href="{% url "challenge" challenge.id%}">{{challenge.title}} - {{challenge.points}}</a>
        {% elif not have_challenge and forloop.last %}
        <p>No Challenges in category: {{category.name}}</p>
        {% endif %}
        {% endwith %}
  {% endfor %}
  </div>
  {% empty %}
  <p>No challenges released</p>
{% endfor %}
</div><!--/row-->
{% endblock %}
