{% extends "web/base.html" %}
{% block content %}
{% load markdown %}
<div class="card">
  <div class="card-header"> 
    <div class="row">
      <div class="col-md-6">Category: {{challenge.category.name}}</div>
      <div class="col-md-6 text-right">Solves: {{solves_procent}}%</div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{challenge.title}} <span class="badge badge-secondary"> Points: {{challenge.points}}</span></h4>
    <p class="card-text">{{ challenge.description | markdown | safe }}<p>
    {% if challenge.file %}
    <p class="card-text"><a href="{{challenge.file.url}}">{{challenge.file.name}}</a></p>
    {% endif %}
  </div>
  <div class="card-body">
    <form method="post">{% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control"  name="flag" {% if user.team_id %} {% if challenge.is_solved %} placeholder="Solved!" disabled {% else %} placeholder="{{ flag_format }}" {% endif %} {% else %} placeholder="Join team to submit" disabled {% endif %}> <!--Add possiblity to dynamic flag format, maybe in settings.py-->
        {% if user.team_id and not challenge.is_solved %}
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Submit!</button>
        </span>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
