{% extends "web/base.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
    Category: {{challenge.category.name}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{challenge.title}} <span class="badge badge-secondary"> Points: {{challenge.points}}</span></h4>
    <p class="card-text">{{challenge.description}}<p>
    {% if challenge.file %}
    <p class="card-text"><a href="{{challenge.file.url}}">{{challenge.file}}</a></p>
    {% endif %}
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control"  name="flag" {% if challenge.is_solved %} placeholder="Solved!" disabled {% else %} placeholder="flag{...}" {% endif %}> <!--Add possiblity to dynamic flag format, maybe in settings.py-->
    {% if not challenge.is_solved %}
    <span class="input-group-btn">
    <button class="btn btn-secondary" type="submit">Submit!</button>
    </span>
    {% endif %}
    </form>
  </div>
</div>
{% endblock %}
