{% extends "web/base.html" %}

{% block content %}
<h1>{{ team_view|yesno:"Welcome&#44,"|safe }} {{team.name}}</h1>
  <hr \>
  <div class="row">
    {% with members=team.get_members %}
    <div class="col alert alert-secondary">
      <h2 class="alert-heading">Members</h2>
      <ul>
        {% for member in members %}
        <li>{{member.nickname}}</li>
        {% endfor %}
      </ul>
      {% if team_view %}
      <hr />
      <p>{{ members|length }} of {{max_team_size }} team members.</p>
      <p><b>Team token:</b></br> {{ team.token }}</p>
      {% endif %}
    </div>
    {% endwith %}
    <div class="col-8">
      <h3>Solved challenges</h3>
      {% if challenges %}
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Challenge:</th>
            <th>Points:</th>
            <th>Solved by:</th>
            <th>Time:</th>
          <tr>
        </thead>
          {% for challenge in challenges %}
          <tr>
            <td>{{ challenge.title }}</td>
            <td>{{ challenge.points }}</td>
            <td>{{ challenge.solved_by.nickname }}</td>
            <td>{{ challenge.completed|date:"Y-m-d H:i:s"}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>None challenges solved!</p>
      {% endif %}
    </div>
  </div>
  
{% endblock %}
